@{
    ViewData["Title"] = "Home";
}

<div class="text-center pt-4">
    <p style="font-size: large; color: cyan;" class="display-4">CDub's MVC Demo</p>
</div>

<div class="pt-4">
    This is a sample ASP.NET MVC application that maintains a list of <i>categories</i>, and was written for demo purposes only. &nbsp;&nbsp;All CRUD operations are supported, so feel free to make updates. &nbsp;&nbsp;Keep it clean...
</div>

<div class="pt-4 text-primary">
    Technology Overview:
</div>

<ul class="pt-2 text-danger">
    <li>.NET Core 6.0</li>
    <li>Entity Framework Core</li>
    <li>ASP.NET MVC (Model-View-Controller)</li>
    <li>Dependency Injection</li>
    <li>Toastr Alerts (JavaScript)</li>
    <li>Bootstrap / BootsWatch Theme</li>
    <li>Cloud Hosting (Azure)</li>
</ul>